.CV {
  margin: auto;
  position: relative;
  width: 1000px;
  background-color: rgb(89, 255, 161);
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow-wrap: anywhere;
}

.CV__aside {
  background-color: #44e4af;
  padding: 40px 40px 50px 45px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.CV__main {
  padding: 40px 45px 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.line {
  width: 40px;
  border-bottom: 2px solid black;
}

.line--long {
  position: relative;
  width: 120px;
  border-bottom: 2px solid black;
  left: -25px;
}

.CV__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}
